
body{
    background: linear-gradient(to right, rgb(248, 32, 3), rgba(250, 3, 3, 0.822) 25%);
    background: rgb(32,35,48);    
    font-family: 'Open Sans', sans-serif
}



.Basic-Info{
    text-align: center;
}

.app{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(1, 100vh);
    grid-template-rows:repeat(2, 83vh);
}

.app .search-box{
    width: 100%;
  max-width: 400px;
  padding: 10px 25px;
  border-radius: 3%;
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color:aliceblue; 
    border-radius: 23px 0px 16px 0px;
    color: #fcfcfcc4;
    font-size: 26px;
    font-weight: 350;
    transition: 0.3s ease-out;
  }

  .app .search-box:focus {
    background-color: rgb(3, 229, 245);
  }

  .app>button{
    margin: 3px;
    border-radius: 4px;
    max-width: 150px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 20px;
    -webkit-tap-highlight-color: transparent;
    position: relative;

    padding-left: 70px;
    padding-right: 70px;
    margin-left: 4vh;
  }

  .app>button:hover{
    background-color: rgba(255, 255, 255, 0);
  }
  
  .content>button{
    margin: 3px;
    border-radius: 4px;
    border: none;
    background-color: cadetblue;
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.content>button:hover{
    padding:24px;
    padding-left: 220px;
    padding-right: 220px;
    background: rgba(285, 255, 255, 0.3);
}

.content{
    font-size: 1.65rem; 
    margin: 10px;
    padding: 10vh;
    border:2px solid rgb(255, 255, 255);
    color:white;  
}

h1{
    color:white; 
}
