* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

#title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: fill 2s ease forwards 3.5s;
}


/* Title */

#title path:nth-child(1) {
    stroke-dasharray: 453.6438903808594;
    stroke-dashoffset: 453.6438903808594;
    animation: line-anim 2s ease forwards;
}

#title path:nth-child(2) {
    stroke-dasharray: 490.29193115234375;
    stroke-dashoffset: 490.29193115234375;
    animation: line-anim 2s ease forwards 0.3s;
}

#title path:nth-child(3) {
    stroke-dasharray: 571.5773315429688;
    stroke-dashoffset: 571.5773315429688;
    animation: line-anim 2s ease forwards 0.6s;
}

#title path:nth-child(4) {
    stroke-dasharray: 453.6438903808594;
    stroke-dashoffset: 453.6438903808594;
    animation: line-anim 2s ease forwards 0.9s;
}

#title path:nth-child(5) {
    stroke-dasharray: 463.96795654296875;
    stroke-dashoffset: 463.96795654296875;
    animation: line-anim 2s ease forwards 1.2s;
}

#title path:nth-child(6) {
    stroke-dasharray: 561.4005126953125;
    stroke-dashoffset: 561.4005126953125;
    animation: line-anim 2s ease forwards 1.5s;
}

#title path:nth-child(7) {
    stroke-dasharray: 422.1629638671875;
    stroke-dashoffset: 422.1629638671875;
    animation: line-anim 2s ease forwards 1.8s;
}

#title path:nth-child(8) {
    stroke-dasharray: 398.9284973144531;
    stroke-dashoffset: 398.9284973144531;
    animation: line-anim 2s ease forwards 2.1s;
}

#title path:nth-child(9) {
    stroke-dasharray: 506.4461975097656;
    stroke-dashoffset: 506.4461975097656;
    animation: line-anim 2s ease forwards 2.4s;
}

#title path:nth-child(10) {
    stroke-dasharray: 314.9497375488281;
    stroke-dashoffset: 314.9497375488281;
    animation: line-anim 2s ease forwards 2.7s;
}

#title path:nth-child(11) {
    stroke-dasharray: 239.8091583251953;
    stroke-dashoffset: 239.8091583251953;
    animation: line-anim 2s ease forwards 3s;
}

#title path:nth-child(12) {
    stroke-dasharray: 433.7693786621094;
    stroke-dashoffset: 433.7693786621094;
    animation: line-anim 2s ease forwards 3.3s;
}

#title path:nth-child(13) {
    stroke-dasharray: 422.4900817871094;
    stroke-dashoffset: 422.4900817871094;
    animation: line-anim 2s ease forwards 3.3s;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 35, 48);
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}

#subtitle {
    position: absolute;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 1rem;
    top: 35%;
    left: 50%;
    opacity: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: show 2s ease forwards 4s;
}


/* Animations */

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
        top: 20vh;
    }
}

@keyframes cursor {
    from {
        cursor: default;
    }
    to {
        cursor: pointer;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* About*/

.main {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.default-button {
    text-decoration: none;
    border-radius: 16px;
    background-color: ghostwhite;
    color: black;
    padding: 15px 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.default-button:hover {
    background-color: gainsboro;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-one {
    background: linear-gradient(270deg, #414A75 -3.22%, #745689 105%);
    position: absolute;
    left: 20%;
    top: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: default;
    animation: show 2s ease forwards 5s;
}

.card-two {
    background: linear-gradient(270deg, #21A5DB -3.22%, #00D1D2 105%);
    position: absolute;
    left: 40%;
    top: 70%;
    cursor: default;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: show 2s ease forwards 7s;
}

.card-three {
    background: linear-gradient(270deg, #E08D5A -3.22%, #F6B95B 105%);
    position: absolute;
    left: 60%;
    top: 70%;
    cursor: default;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: show 2s ease forwards 9s;
}

.card-four {
    background: linear-gradient(270deg, #A82F08 -3.22%, #CF7913 105%);
    position: absolute;
    left: 80%;
    top: 70%;
    cursor: default;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: show 2s ease forwards 11s;
}

.activate-two {
    opacity: 1;
    cursor: pointer;
}


/* For Desktop */

@media only screen and (min-width: 768px) {
    .card {
        border-radius: 5px;
        width: 18%;
        height: 30%;
        text-align: center;
        padding-top: 5px;
        color: white;
    }
    .default-button {
        width: 60%;
    }
    .title {
        width: 100%;
    }
    .subtitle {
        font-size: 1.6rem;
    }
}


/* For Mobile */

[class="card"] {
    width: 100%;
    height: 40%;
    text-align: center;
}

[class="default-button"] {
    width: 40%
}

[class="title"] {
    width: 50%;
}

[class="subtitle"] {
    font-size: 1rem;
}