body {
    background: #202330;
    font-family: 'Open Sans', sans-serif
}


h1 {
    color: white;
}

.content {
    text-align: center;
    font-size: 1.65rem;
    margin: 10px;
    padding: 10vh;
    color: white;
}

.title {
    text-align: center;
    font-size: 1.65rem;
    margin: 5px;
    color: white;
}

.app{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(5);
}

.app>button{
    margin: 3px;
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 20px;
    padding-left: 500px;
    padding-right: 500px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    color:white;
    background-color:royalblue;

    border: navy 2px;
}

.app>button:hover{ 
    padding: 25px;
    padding-left: 550px;
    padding-right: 551px;
}
