* {
    margin: 0;
    padding: 0;
}

.title-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180.59deg, #202330 0.51%, rgba(32, 35, 48, 0) 296%);
}

.title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.circle {
    position: absolute;
    width: 25vh;
    height: 25vh;
}

.circle-one {
    opacity: 0;
    left: 10%;
    top: 15%;
    transform: translate(-20%, -10%);
    animation: show 2s ease-out forwards 3s;
}

.circle-two {
    opacity: 0;
    left: 90%;
    top: 20%;
    transform: translate(-90%, -20%);
    animation: show 2s ease-out forwards 3.3s;
}

.circle-three {
    opacity: 0;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    animation: show 2s ease-out forwards 3.6s;
}

.circle:hover {
    width: 30vh;
    height: 30vh;
}

#title path:nth-child(1) {
    stroke-dasharray: 449.7335205078125;
    stroke-dashoffset: 449.7335205078125;
    animation: line-anim 2s ease forwards;
}

#title path:nth-child(2) {
    stroke-dasharray: 565.951171875;
    stroke-dashoffset: 565.951171875;
    animation: line-anim 2s ease forwards 0.3s;
}

#title path:nth-child(3) {
    stroke-dasharray: 549.06689453125;
    stroke-dashoffset: 549.06689453125;
    animation: line-anim 2s ease forwards 0.6s;
}

#title path:nth-child(4) {
    stroke-dasharray: 336.6719665527344;
    stroke-dashoffset: 336.6719665527344;
    animation: line-anim 2s ease forwards 0.9s;
}

#title path:nth-child(5) {
    stroke-dasharray: 490.2921142578125;
    stroke-dashoffset: 490.2921142578125;
    animation: line-anim 2s ease forwards 1.2s;
}

#title path:nth-child(6) {
    stroke-dasharray: 297.2159729003906;
    stroke-dashoffset: 297.2159729003906;
    animation: line-anim 2s ease forwards 1.5s;
}

#title path:nth-child(7) {
    stroke-dasharray: 493.913818359375;
    stroke-dashoffset: 493.913818359375;
    animation: line-anim 2s ease forwards 1.8s;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

.card>button {
    border-radius: 4px;
    border: none;
    background-color: cadetblue;
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.card>button:hover {
    padding: 24px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: cadetblue;
}

.recog {
    background-color: rgb(32, 35, 48);
    width: 100%;
    height: 20vh;
    color: white;
}

.subtitle {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

.card {
    overflow: hidden;
    display: inline-block;
    width: 23vw;
    margin: 10px;
    height: 50vh;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.card h3 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 200;
}

.card p {
    font-size: 1rem;
}

.card img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.row {
    align-items: center;
}

.card-one {
    background: linear-gradient(270deg, #414A75 -3.22%, #745689 105%);
}

.card-two {
    background: linear-gradient(270deg, #21A5DB -3.22%, #00D1D2 105%);
}

.card-three {
    background: linear-gradient(270deg, #E08D5A -3.22%, #F6B95B 105%);
}

.card-four {
    background: linear-gradient(270deg, #A82F08 -3.22%, #CF7913 105%);
}

.card-one>button {
    margin-top: 70px;
}

.card-two>button {
    margin-top: 80px;
}

.card-three>button {
    margin-top: 80px;
}

.card-four>button {
    margin-top: 80px;
}

.portals {
    width: 100%;
    height: 100vh;
}

.card>button:disabled,
button[disabled] {
    background-color: gray;
}

.card>button:disabled,
button[disabled]:hover {
    background-color: gray;
}