<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="mission.css">
    <title>Our mission</title>
</head>


<body>

<div class="Buttons">
<button onclick="window.location.href='https://zadz-education.herokuapp.com/'">HOME</button>
</div>

<div class="Container-1">
<h1>OUR MISSION</h1>
</div>

<div class="Container-2">
    <div class="content">
        <h3>Why we made this Project?</h3>
        <p>Phishing is one of the most dangerous cyber attacks that this world has ever seen.<br>
        Facebook,Instagram,Wells Fargo,Twitter,Bank Of America, and more companied have reported having thousands of their users, manipulated using phishing tactics.<br>
        Our mission is to assist in helping prevent this, by simulating the hacker's attacks themselves and teaching others how to combat them.</p>
      </div>

      <div class="content">
        <h3>How will we improve this project?</h3>
        <p>We will improve this project<br> by enhancing design<br> making the project more dynamic<br> including more phishing pages<br>
        simulating more forms of cybercrime<br>and by expanding our project's reach, audience, and team<br> 
        </p>

      </div>

</div>


</body>



</html>
